		<%= error_messages_for(@genre) %>
		<table summary="Genre form fields">
			<tr>
				<th><%= f.label(:genre, "Genre") %></th>
				<td><%= f.text_field(:genre) %></td>
			</tr>	
			<tr>
				<th><%= f.label(:book_id, "Book") %></th>
				<td><%= f.select(:book_id, @books.map {|b| [b.name, b.id]}) %></td>
			</tr>
		</table>