<% @page_title = @genre.genre %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="genre show">
	<h2> <%= @genre.genre.capitalize %></h2>
	<table summary="Genre detail view">
		<tr>
			<th>Books in the <%= @genre.genre.capitalize %> genre are </th>
			<% @genre.books.each do |book| %>
			<td class="<%= cycle('odd', 'even') %>">
			<%= book.name %></td>
			<% end %>
		</tr>
	</table>
	
</div>

