<div class="comment" id="comment-<%=comment.id%>">
	  <hr />
	  <%= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close' %>
	  <small><%= comment.user.name %> at <%= comment.updated_at %></small>
	  <p><%= comment.body %></p>
</div>