<%= error_messages_for(@comment) %>
		<table summary="Comment form fields">
			<tr>
				<th><%= f.label(:comment, "Comment") %></th>
				<td><%= f.text_area(:comment) %></td>
			</tr>
			<tr>
				<th><%= f.label(:book_id, "Book") %></th>
				<td><%= f.select(:book_id, @books.map {|b| [b.name, b.id]}) %></td>
			</tr>
			OR
			
		</table>