<h2 class="centered">Search Results</h2>

<%= form_tag search_path method: :get do %>
   <%= text_field_tag :q, nil %>
  <%= submit_tag "Submit", name: nil %>
 <% end %>

<% if @books == [] && @events == [] && @reviews == [] %>
<p> No results for this search </p>
<% else %>
<!-- Start of the books listings -->
  <% unless @books == [] %>
  <% if @books.size == 1 %>
    <h4> Book with the name </h4>
  <% else %>
    <h4> Books with the name </h4>
  <% end %>
<ul>
  <% @books.each do |book| %>
    <li>
      <h5>
        <%= link_to book.name, book_path(book)%>
      </h5>      
    </li>
  <% end %>
</ul>
<br />
<% end %> <!-- End unless -->
<!-- Start of the Events listings -->
<% unless @events == [] %>
<% if @events.size == 1 %>
    <h4> Event with the name </h4>
  <% else %>
    <h4> Events with the name </h4>
  <% end %>
<ul>
  <% @events.each do |book| %>
    <li>
      <h5>
        <%= link_to book.name, event_path(book)%>
      </h5>      
    </li>
  <% end %>
</ul>
<br />
<% end %> <!-- end Unless -->
<!-- Start of the Review listings -->
<% unless @reviews == [] %>
<% if @reviews.size == 1 %>
    <h4> Review with the title </h4>
  <% else %>
    <h4> Reviews with the title </h4>
  <% end %>
<ul>
  <% @reviews.each do |book| %>
    <li>
      <h5>
        <%= link_to book.title, review_path(book)%>
      </h5>      
    </li>
  <% end %>
</ul>
<% end %>
<% end %> <!-- end if(if search returns nil) -->