<% @page_title = "All Authors" %>
<div class = "container">
	<h2 class="text-center"> All Authors</h2>

	

	<div class="row">
		<div class="col-lg-3"><strong class="centered">First Name</strong></div>
		<div class="col-lg-3"><strong class="centered">Last Name</strong></div>
		<div class="col-lg-3"><strong class="centered">Bio</strong></div>
		<div class="col-lg-3">
			<% if user_signed_in? %>
					<%= link_to("Add New Author", {:action => 'new'}, :class => 'btn-sm btn-primary text-center') %>
			<% end %>
		</div>		
	</div> <!-- end row -->
	<br />
		<% @authors.each do |author| %>
		<div class="row <%= cycle('odd', 'even') %>">
			<div class="col-sm-3"><%= author.first_name %></div>
			<div class="col-sm-3"><%= author.last_name %></div>
			<div class="col-sm-3"><%= truncate(author.bio , length: 80, separator: ' ', omission: '... (continued)') %></div>
			<div class="col-sm-3">				
				<%= link_to("Show", {:action => 'show', :id => author.id}, :class => ' btn btn-primary btn-sm') %>
					 <% unless current_user.nil? %>		
				<%= link_to("Edit", {:action => 'edit', :id => author.id}, :class => 'btn btn-info btn-sm') %>
					<% if current_user.try(:admin?) %>
				<%= link_to("Delete", {:action => 'delete', :id => author.id}, :class => 'btn btn-warning btn-sm') %>
				<% end %>
				<% end %>
			</div>	
		</div> <!-- end row -->	
		<% end %>
	<br />
	<%= will_paginate @authors %>
	<br />
</div><!-- end container -->