<% @page_title = @author.name %>
<div class="container">
	<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

	<h2 class="text-center"><%= @author.name %></h2>
	<%= link_to("View Books by " + @author.first_name, {:controller => 'books', :author_id => @author.id}, :class => 'btn btn-success btn-sm') %>

		
	<div class="row">
			<div class="col-lg-8"><strong class="centered">Biography</strong></div>
			<div class="col-lg-4"></div>
	</div><!-- end row -->

	<div class="row">
		<div class="col-sm-8"><%= @author.bio %></div>
	<% unless @author.avatar_url == nil %>			
		<div class="col-sm-4"> <%= link_to image_url(@author.avatar_url(:normal)) do %>
			<%= image_tag @author.avatar_url(:thumb) %>
		<% end %>
		</div>
	<% else %>
		<div class="col-xs-6 col-md-3">
   				 <a href="#" class="thumbnail">
      				<img src="..." alt="...">
    				</a>
  		</div>		
	<% end %>
	</div> <!-- end row -->

	<br />

</div> <!-- end container -->
