
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="author show">
	<h2>Show Author</h2>
	<table summary="author detail view">
		<tr>
			<th>First Name</th>
			<td><%= @author.first_name %></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= @author.last_name %></td>
		</tr>
		<tr>
			<th>Bio</th>
			<td><%= @author.bio %></td>
		</tr>
		<% unless @author.avatar_url == nil %>
			<tr>
				<th>Author Picture</th>
				<td><%= image_tag @author.avatar_url(:thumb) %></td>
			</tr>
		<% end %>		
		
	</table>
</div>

