<% @page_title = "Admin Menu" %>

<div class="menu">
	<h2>Admin Menu</h2>
	<div class="identity">Logged in as: <%= session[:username] %> </div>
	<ul>
		<li><%= link_to("Manage Books", :controller => 'books') %></li>
		<li><%= link_to("Manage Authors", :controller => 'authors') %></li>
		<li><%= link_to("Manage User", :controller => 'users') %></li>
		<li><%= link_to("Logout", :action => 'logout') %></li>
	</ul>
</div>
