<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
          <h6>&copy;<%= Date.today.year.to_s %> BookHub Limited</h6>
          </div><!-- end col-sm-2 -->
          
          <div class="col-sm-4">
            <h6>BookHub</h6>
            <p>An online book community for lovers of literature. Share, review and discuss books. Stay updated on literary events</p>
          </div><!-- end col-sm-4-->
          
          <div class="col-sm-3">
            <h6>Navigation</h6>
            <ul class="unstyled">
              <li><%= link_to "Books", books_path, :class => 'white' %></li>
              <li><%= link_to "Events", events_path, :class => 'white' %></li>
              <li><%= link_to "Book Swap", {:controller => '/book_exchanges', :action => 'swap'}, :class => 'white' %></li>
              <li><%= link_to "Donate Books", {:controller => '/book_exchanges', :action => 'donate'}, :class => 'white' %></li>
              <li><%= link_to "Contact Us", '/contact_us', :class => 'white'%></li>
            </ul>
          </div><!-- end col-sm-3 -->
          
          <div class="col-sm-3">
            <h6>Follow Us</h6>
            <ul class="unstyled">
              <li><a href="http://www.twitter.com/bookhubng" target="blank" class="white">Twitter</a></li>
              <li><a href="http://www.facebook.com/bookhubng" target="blank" class="white">Facebook</a></li>
            </ul>
          </div><!-- end col-sm-3 -->
          
          
        </div><!-- end row -->
      </div><!-- end container -->
    </footer>
     <div class="modal fade" id="signUpModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign up</h4>
              </div>
              <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Your name</label>
                        <input type="email" class="form-control" placeholder="Your full name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" placeholder="Your email address">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" placeholder="Choose a password">
                      </div>
                      
                      <button type="submit" class="greenButton roundButton pull-right">Create account</button>
                        <div class="clearer"></div>
                    </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <div class="modal fade" id="logInModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Log in</h4>
              </div>
              <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" placeholder="Your email address">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" placeholder="Your password">
                      </div>
                      
                      <button type="submit" class="greenButton roundButton pull-right">Log in to your account</button>
                        <div class="clearer"></div>
                    </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>    
	</body>
</html>
