            <div id="searchBox">
                <div class="container">
                        <%= form_tag search_path, :class => 'navbar-form navbar-left', method: :get do %>
                          <div class="form-group">
                            <span class="glyphicon glyphicon-search"></span> &nbsp;<%= text_field_tag :q, nil, :placeholder => "Type a book or author & hit 'Enter' to search", :id => 'searchPut' %><button class="btn btn-default small" onclick="hideSearchBox()">close search panel</button>
                          </div>
                            <%= submit_tag "Submit", :class => 'btn btn-default btn-xs', name: nil %>
                        <% end %>                    
                </div>
            </div>
        <header>
            
            <div class="container">
                <%= link_to (image_tag('logo2.jpg', :id => 'topLogo', :size => '200x40')), root_path, class: 'pull-left' %>
                <!-- <a href="index.html" id="topLogo" class="pull-left"><img src="img/logo2.jpg"></a> -->
                <div class="pull-right topPad">
                    <a href="#" class="greenLink smallHide" onclick="toggleSearchBox()">Search</a>
                    <%= link_to 'Books', books_path, :class => 'greenLink  smallHide' %>                  
                    <%= link_to 'Events', events_path, :class => 'greenLink  smallHide' %>
                    <%= link_to 'Donate Books', {:controller => '/book_exchanges', :action => 'donate'}, :class => 'greenLink  smallHide' %>
                    <%= link_to 'Contact Us', '/contact_us', :class => 'greenLink smallHide' %>
                    <% if user_signed_in? %>           
                                <%= link_to 'Edit Account Information', edit_user_registration_path, :class => 'greenLink  smallHide' %>
                                <%= link_to 'Log out', destroy_user_session_path, :method => :delete, :class => 'greenButton roundButton  smallHide' %>                           
                    <% else %>
                        <span data-toggle="modal" data-target="#logInModal"><%= link_to 'Log In', new_user_session_path, :class => 'greenLink  smallHide' %></span>
                    <span data-toggle="modal" data-target="#signUpModal"><%= link_to 'Sign Up', new_user_registration_path, :class => 'greenButton roundButton  smallHide' %></span>
                    <% end %>                    
                    <a href="#" class="greenButton roundButton smallShow" id="smallMenuToggler">Menu</a>
                </div>
            </div>
        </header>
        <div class="smallMenu" id="smallMenu">
            <div class="container">
                <a href="#" class="greenLink" onclick="toggleSearchBox()">Search</a>
                 <%= link_to 'Books', books_path, :class => 'greenLink' %>                  
                    <%= link_to 'Events', events_path, :class => 'greenLink' %>
                    <%= link_to 'Donate Books', {:controller => '/book_exchanges', :action => 'donate'}, :class => 'greenLink' %>
                    <%= link_to 'Contact Us', '/contact_us', :class => 'greenLink  smallHide' %>
                    <span data-toggle="modal" data-target="#logInModal"><%= link_to 'Log In', new_user_session_path, :class => 'greenLink' %></span>
                    <span data-toggle="modal" data-target="#signUpModal"><%= link_to 'Sign Up', new_user_registration_path, :class => 'greenButton roundButton' %></span>                
            </div>
        </div>