		<%= error_messages_for(@event) %>
		<table summary="Event form fields">
			<tr>
				<th><%= f.label(:name, "Event Name") %></th>
				<td><%= f.text_field(:name) %></td>
			</tr>
			<tr>
				<th><%= f.label(:user_id, "Organizer") %></th>
				<!-- Will perform a search of the current logged in user and present the person as this i.e. marked for removal -->
				<td><%= f.select(:user_id, @users.map {|u| [u.name, u.id]}) %></td>
			</tr>
			<tr>
				<th><%= f.label(:venue) %></th>
				<td><%= f.text_area(:venue) %></td>
			</tr>
			<tr>
				<th><%= f.label(:city, "Town/City") %></th>
				<td><%= f.text_field(:city) %></td>
			</tr>
			<tr>
				<th><%= f.label(:no_of_available_seats) %></th>
				<td><%= f.text_field(:no_of_available_seats) %></td>
			</tr>
		</table>