		<%= error_messages_for(@event) %>
		<table summary="Event form fields">
			<tr>
				<th><%= f.label(:name, "Event Name") %></th>
				<td><%= f.text_field(:name) %></td>
			</tr>
			<tr>
				<th><%= f.label(:venue) %></th>
				<td><%= f.text_area(:venue) %></td>
			</tr>
			<tr>
				<th><%= f.label(:city, "Town/City") %></th>
				<td><%= f.text_field(:city) %></td>
			</tr>
			<tr>
				<th><%= f.label(:no_of_available_seats) %></th>
				<td><%= f.text_field(:no_of_available_seats) %></td>
			</tr>
			<tr>
				<th><%= f.label(:description, "Event Details") %></th>
				<td><%= f.text_area(:description) %></td>
			</tr>
			<tr>
				<th><%= f.label(:avatar, "Event Flyer") %></th>
				<td><%= image_tag(@event.avatar_url(:thumb)) if @event.avatar? %>
					<%= f.file_field(:avatar) %></td>
				 <%= f.hidden_field(:avatar_cache) %>
			</tr>
		</table>