<% @page_title = "All Events" %>
     <section class="brownBox" id="longRollers">
            <div class="container">
                <h2 class="green thin pull-left noTop"><%= link_to "Events", events_path, :class => 'greenLink' %></h2>
                <div class="borderThick clearer"></div>
                <div class="full bookRoll">
                	<% @events.each do |event| %>
                    <div class="bookPreview inline">
                        <%= link_to (image_tag event.avatar_url, :class => 'full'), event_path(event) %>
                        <div class="bookDeets">
                        <span class="green"><%= event.name %></span><br><span><% unless event.created_by == 0 || event.created_by == nil  %>Created by </span><span class="green">
                       		<%= @users.find(event.created_by).name %>
                       		<% end %>
						</span>
                        </div>
                    </div>
                    <% end %>             
                </div>
            </div>
        </div>
            <%= will_paginate @events %> 
    </section>