<% @page_title = @event.name %>
<%= link_to("<< Back to List", events_path, :class => 'back-link') %>
<div class="event show">
	<h2>Show Event</h2>
	<table summary="Event detail view">
		<tr>
			<th>Name</th>
			<td><%= @event.name %></td>
		</tr>
		<tr>
			<th>Venue</th>
			<td><%= @event.venue %></td>
		</tr>
		<tr>
			<th>Town/City</th>
			<td><%= @event.city %></td>
		</tr>
		<tr>
			<th>Number of Spaces</th>
			<td><%= @event.no_of_available_seats %></td>
		</tr>
		<tr>
			<th>Event Description</th>
			<td><%= @event.description %></td>
		</tr>
		<% unless @event.created_by == 0 || @event.created_by == nil  %>
			<tr>
				<th>Created by</th>
				<td><%= @users.find(@event.created_by).name %></td>
			</tr>
		<% end %>
	</table>
</div>


<hr />


<h4>Comments about "<%= @event.name %>"</h4>
<% if @event.comments.empty? %>
		<td> There are no comments on this event. Why not write yours? </td>
<% else %>
	<td><% @event.comments.each do |comment| %>
	<%= comment.comment %>, by <%= find_user(comment.user_id) %>
	<% end %></td>
<% end %>
<%= link_to("Add Review", {:controller => 'comments', :action => 'new'}) %>