<% @page_title = @event.name %>
<%= link_to("<< Back to List", events_path, :class => 'back-link') %>
<div class="container">
	<h2 class="centered"><%= @event.name %></h2>
	<% if user_signed_in? %>
		<% if @event.users.include?current_user %>
			<h4 class="alert-notice centered">You are registered for this event</h4>
			<%= link_to("De-register for the Event", {:action => 'miss', :id => @event.id}, :class => 'btn-sm btn-primary text-center') %>	
		<% else %>
			<%= link_to("Register for Event", {:action => 'attend', :id => @event.id}, :class => 'btn-sm btn-primary text-center') %>	
			
		<% end %>

	<% end %></div>
	<div class="container">
		<div class="row">		
			<div class="col-sm-4"><strong>Venue</strong></div>
			<div class="col-sm-8"><%= @event.venue %></div>
		</div>
		<br />
		<div class="row">		
			<div class="col-sm-4"><strong>Town/City</strong></div>
			<div class="col-sm-8"><%= @event.city %></div>
		</div>
		<br />
		<div class="row">		
			<div class="col-sm-4"><strong>Number of Spaces</strong></div>
			<div class="col-sm-8"><%= @event.no_of_available_seats %></div>
		</div>			
		<br />
		<div class="row">		
			<div class="col-sm-4"><strong>Event Description</strong></div>
			<div class="col-sm-8"><%= @event.description %></div>
		</div>
		<br />	
		<% unless @event.avatar_url == nil  %>			
		<div class="row">		
			<div class="col-sm-4 centered"><!-- <strong>Flyer</strong> --></div>
			<div class="col-sm-8"> <%= link_to image_url(@event.avatar_url(:normal)) do %>
				<%= image_tag @event.avatar_url(:thumb) %>
				<% end %>
			</div>
		</div>
		<% end %>
		<br />
		<% unless @event.created_by == 0 || @event.created_by == nil  %>		
		<div class="row">		
			<div class="col-sm-4 centered"><strong>Created by</strong></div>
			<div class="col-sm-8"><strong><%= @users.find(@event.created_by).name %></strong></div>
		</div>				
		<% end %>
	</div>	
</div>


<hr />


<h4>Comments about "<%= @event.name %>"</h4>
<% if @event.comments.empty? %>
		<td> There are no comments on this event. Why not write yours? </td>
<% else %>
	<td><% @event.comments.each do |comment| %>
	<%= comment.comment %>, by <%= find_user(comment.user_id) %>
	<% end %></td>
<% end %>
<%= link_to("Add Comments", {:controller => 'comments', :action => 'new'}) %>

<br />
<br />
<br />