<%= error_messages_for(@review) %>
		<table summary="Review form fields">
			<tr>
				<th><%= f.label(:review, "Title") %></th>
				<td><%= f.text_field(:title) %></td>
			</tr>
			<tr>
				<th><%= f.label(:review, "Review") %></th>
				<td><%= f.text_area(:review) %></td>
			</tr>
		</table>