<% @page_title = "All Books" %>
     <section class="brownBox" id="longRollers">
            <div class="container">
                <h2 class="green thin pull-left noTop"><%= link_to "Books", books_path, :class => 'greenLink' %></h2>
                <%= link_to "Add Book", new_book_path, :class => 'greenButton roundButton inline pull-right' %>
                <div class="borderThick clearer"></div>
                <div class="full bookRoll">
                	<% @books.each do |book| %>
                    <div class="bookPreview inline">
                        <%= link_to (image_tag book.front_avatar_url, :class => 'full'), book_path(book) %>
                        <div class="bookDeets">
                        <span class="green"><%= book.name %></span><br><span>by </span><span class="green">
                        <% unless book.author_list == nil  %>
							<%= raw book.author_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
						<% end %>
						</span>
                        </div>
                    </div>
                    <% end %>             
                </div>
            </div>
        </div>
            <%= will_paginate @books %> 
    </section>