<% @page_title = @book.name %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="book show">
	<h2><%= @book.name %></h2>
<div class="row">
	<div class="col-md-8">
	<div class="table-responsive">
	<table summary="Book detail view" class="table table-striped table-hover table-condensed">
		<% unless @book.author_list == nil  %>
		<tr>
			<th>Genre</th>
			<td><%= raw @book.author_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>			
		</tr>
		<% end %>
		<tr>
			<th>Publisher</th>
			<td><%= @book.publisher %></td>
		</tr>
		<tr>
			<th>ISBN</th>
			<td><%= @book.isbn %></td>
		</tr>
		<tr>
			<th>Published</th>
			<td><%= @book.published_year %></td>
		</tr>
		<% unless @book.genre_list == nil  %>
		<tr>
			<th>Genre</th>
			<td><%= raw @book.genre_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>			
		</tr>
		<% end %>
		<tr>
			<th>Page Count</th>
			<td><%= @book.page_count %></td>
		</tr>
		<tr>
			<th>Word Count</th>
			<td><%= @book.word_count %></td>
		</tr>
		<tr>
			<th>Summary</th>
			<td><%= @book.bio %></td>
		</tr>
		<% unless @book.front_avatar_url == nil %>
		<tr>
			<th>Front Cover</th>
			<td><%= image_tag @book.front_avatar_url(:thumb) %></td>
		</tr>
		<% end %>
		<% unless @book.created_by == 0 %>
			<tr>
				<th>Created by</th>
				<td><%= @users.find(@book.created_by).name %></td>
			</tr>
		<% end %>
		<% unless @book.updated_by == 0 %>
			<tr>
				<th>Updated by</th>
				<td><%= @users.find(@book.updated_by).name %></td>
			</tr>	
		<% end %>
			
	</table>
	</div> <!-- end table responsive -->
	</div> <!-- end column -->
</div> <!-- end row -->
</div>
<br />
<br />
<br />
<%= render_shareable %>
<hr />
<h4>Reviews about "<%= @book.name %>"</h4>
<% if @book.reviews.empty? %>
		<td> There are no Reviews on this book. Why not write yours? </td>
<% else %>
	<td><% @book.reviews.each do |review| %>
	<%= link_to("#{review.review}, by find_user(review.user_id)", review_path(review)) %>
	<% end %></td>
<% end %>
<!-- To replace this with a javascript(?) dropdown to allow the user add review from the book page -->
<%= link_to("Add Review", {:controller => 'reviews', :action => 'new'}) %>
<hr />

<div class="container">
<h4>Comments about "<%= @book.name %>"</h4>
<% unless current_user == nil %>
<%= render(:partial => "comments/form", :locals => {:comment => @new_comment}) %>
<% else %>
<p>Please log in or register to be able to comment </p>
<% end %>
<%= render(:partial => 'comments/comment', :collection => @comments, :as => :comment) %>
</div>
