<% @page_title = "All Reviews" %>

<div class = "reviews index">
	<h2>Reviews</h2>
	<%=  %>
	<%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Review", {:action => 'new'}, :class => 'action new') %>

	
	<table class="listing" summary="Review list">
		<tr class="header">			
			<th>Reviewer</th>
			<th>Title</th>
			<th>Review</th>
			<th>Book</th>
			<th>Book Author</th>			
			<th>Actions</th>
		</tr>
		<% @reviews.each do |review| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= review.user.name %></td>
			<td><%= review.title %></td>
			<td><%= review.review %></td>
			<td><%= review.book.name %></td>
			<td><%= @authors.find_by_id(review.book.author_id).name %></td>
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => review.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => review.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => review.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>

