<% @page_title = "All Reviews" %>

<div class="container">
	<h2>Reviews</h2>
	<%=  %>	
		<div class="row">			
			<div class="col-sm-2"><strong class="centered">Reviewer</strong></div>
			<div class="col-sm-2"><strong class="centered">Title</strong></div>
			<div class="col-sm-2"><strong class="centered">Review</strong></div>
			<div class="col-sm-2"><strong class="centered">Book</strong></div>
			<div class="col-sm-2"><strong class="centered">Book Author</strong></div>			
			<div class="col-sm-2">
				<% if user_signed_in? %>
					<%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Review", {:action => 'new'}, :class => 'btn-sm btn-primary text-center') %>
				<% end %>
			</div>
		</div><!-- end row -->
		<br />
		<% @reviews.each do |review| %>
		<div class="row <%= cycle('odd', 'even') %>">
			<div class="col-sm-2"><%= review.user.name %></div>
			<div class="col-sm-2"><%= review.title %></div>
			<div class="col-sm-2"><%= review.review %></div>
			<div class="col-sm-2"><%= review.book.name %></div>
			<div class="col-sm-2"><%= @authors.find_by_id(review.book.author_id).name %></div>
			<div class="col-sm-2">
				<%= link_to("Show", review_path(review), :class => 'btn btn-primary btn-sm') %>
				<% unless current_user.nil? %>
				<% if current_user.id == review.user.id || current_user.try(:admin?) %>
				<%= link_to("Edit", edit_review_path(review), :class => 'btn btn-info btn-sm') %>
				<%= link_to("Delete", delete_review_path(review), :class => 'btn btn-warning btn-sm') %>
				<% end %>
				<% end %>
			</div>
		</div> <!-- end row -->
		<% end %>
		<%= will_paginate @reviews %>
</div><!-- end container -->
<br />