<% @page_title = "Review by #{@review.user.name} "%>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="review show">
	<h2>Review: <%= @review.title %></h2>
	<h4>Review by <%= @review.user.name %></h4>
	<table summary="review detail view">
		<tr>
			<th>Review</th>
			<td><%= @review.review %></td>
		</tr>
		<tr>
			<th>Book</th>
			<td><%= @review.book.name %></td>
		</tr>
	</table>
</div>

<%= render_shareable %>

<hr />
<div class="container">
<h4>Comments about "<%= @review.title %>"</h4>
<% unless current_user == nil %>
<%= render(:partial => "comments/form", :locals => {:comment => @new_comment}) %>
<% else %>
<p>Please log in or register to be able to comment </p>
<% end %>
<%= render(:partial => 'comments/comment', :collection => @comments, :as => :comment) %>
</div>