<% @page_title = " #{@review.title} "%>

<section class="brownBox" id="longRollers">
            <div class="container">
                <h3 class="green thin pull-left noTop"><a href="addbook.html" class="greenLink"><%= @review.title %></a></h3>
                <div class="borderThick clearer"></div>
                <div class="reviewMain">
                        <div class="inline frontCover">                        
                        <%= image_tag @review.book.front_avatar_url(:thumb)%>                       
                        <div class="topPad">                        
                            <span class="roundButton greenButton block center"><span class="glyphicon glyphicon-book"> </span> &nbsp; <%= link_to "View Book Page", book_path(@review.book) %></span>
                            <% if @review.user_id == current_user.id %>
                            <span class="roundButton greenButton block center"> <span class="glyphicon glyphicon-trash "> </span>, &nbsp;<%= link_to "Delete this review", delete_review_path %></span>
                            <% end %>
                        </div>
                    </div>
                <div id="controllable" class="inline">                
                    <div class="bookInfo">
                        <div class="reviewPreview">
                        <span class="greenLink"><%= @review.user.name %></span> reviewed this book at <%= @review.created_at.strftime("%B %d, %Y %H:%M") %></a>
                        <div class="reviewText">
                            <%= @review.review %>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
</section>

<%= render_shareable %>

<hr />
<div class="container">
<h4>Comments about "<%= @review.title %>"</h4>
<% unless current_user == nil %>
<%= render(:partial => "comments/form", :locals => {:comment => @new_comment}) %>
<% else %>
<p>Please log in or register to be able to comment </p>
<% end %>
<%= render(:partial => 'comments/comment', :collection => @comments, :as => :comment) %>
</div>
<br />
<br />