<!DOCTYPE html>
<html>
	<head>
	  <title>BookHub <%= " | #{@page_title} " if @page_title %></title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>    
    <%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
  			<div class="container">
    			<div class="navbar-header">
           <% if user_signed_in? %>
            <%= link_to(image_tag('logo.jpg', :size => '110x30', :alt => 'Home'), authenticated_root_path, class: 'navbar-brand') %>              
           <% else %> 
              <%= link_to 'BookHub', root_path, class: 'navbar-brand' %>
           <% end %>
    			</div>
    			<div id="navbar">
     			  <ul class="nav navbar-nav">
              <li><%= link_to("Books", books_path) %></li>
              <li><%= link_to("Events", events_path) %></li>
              <li><%= link_to("Book Swap", {:controller => 'book_exchanges', :action => 'swap'}) %></li>
              <li><%= link_to("Donate Books", {:controller => 'book_exchanges', :action => 'donate'}) %></li>
              <li><%= link_to("Contact Us", {:controller => 'public', :action => 'contact'}) %></li>
            </ul>
      			<ul class="nav navbar-nav pull-right">
        			<% if user_signed_in? %>
          				<!-- <li class="dropdown">
           				 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <span class="glyphicon glyphicon-user"></span>
              				<%= current_user.first_name %>
              				<span class="caret"></span>
            				</a>
            				<ul class="dropdown-menu" role="menu"> -->
                        <li><a href="#">Hello <%= current_user.first_name %></a></li> 
              					<li><%= link_to 'Profile', edit_user_registration_path %></li>
              					<li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
            				<!-- </ul>
          				</li> -->
        			<% else %>
          				<li><%= link_to 'Log In', new_user_session_path %></li>
          				<li><%= link_to 'Sign Up', new_user_registration_path %></li>
        			<% end %>
      			</ul>
    			</div>
  			</div>
		</nav>
		<div id="header">
			<h1><%= link_to "BookHub", root_path %></h1>
		</div>
		<div class="container">
  			<% flash.each do |key, value| %>
    			<div class="alert alert-<%= key %>">
     			 	<%= value %>
    			</div>
  			<% end %>
		</div>

		<%= yield :top_content %>

		<div class="container">
 	  		 <h1><%= yield :header %></h1>
    </div>
    <div class="container" id="main">
 			 <%= yield %>
		</div>
		<div class="clear"></div>
		<footer class="footer">
			<p id="copyright">&copy;<%= Date.today.year.to_s %> BookHub Limited</p>
		</footer>
	</body>
</html>
